@using Syncfusion.EJ2
@using Syncfusion.EJ2.CircularGauge
@section ControlsSection{
    <div class="control-section">
        @Html.EJS().CircularGauge("container").Load("onGaugeLoad").CenterY("57%").Background("transparent").Title("Shot Put Distance").TitleStyle(titleStyle => titleStyle.FontFamily("inherit")).Axes(axes => axes
        .StartAngle(200).EndAngle(130).LineStyle(lineStyle => lineStyle.Width(0).Color("tranparent")).Radius("80%").LabelStyle(labelStyle => labelStyle.Font(font => font.Size("0px")))
        .MajorTicks(majorTick => majorTick.Color("transparent").Width(0)).MinorTicks(minorTick => minorTick.Color("transparent").Width(0)).Minimum(0).Maximum(14)
        .Pointers(pointer => { pointer.Value(12).Type(PointerType.Marker).MarkerShape(GaugeShape.Image).Radius("108%").MarkerWidth(28).MarkerHeight(28).ImageUrl(@Url.Content("~/Content/CircularGauge/Images/football.png")).Animation(animation => animation.Enable(true).Duration(1500)).Add();
            pointer.Value(11).Type(PointerType.Marker).MarkerShape(GaugeShape.Image).Radius("78%").MarkerWidth(28).MarkerHeight(28).ImageUrl(@Url.Content("~/Content/CircularGauge/Images/basketball.png")).Animation(animation => animation.Enable(true).Duration(1200)).Add();
            pointer.Value(10).Type(PointerType.Marker).MarkerShape(GaugeShape.Image).Radius("48%").MarkerWidth(28).MarkerHeight(28).ImageUrl(@Url.Content("~/Content/CircularGauge/Images/golfball.png")).Animation(animation => animation.Enable(true).Duration(900)).Add();
            pointer.Value(12).Type(PointerType.Marker).MarkerShape(GaugeShape.Image).Radius("0%").MarkerWidth(90).MarkerHeight(90).ImageUrl(@Url.Content("~/Content/CircularGauge/Images/Athletics.png")).Animation(animation => animation.Enable(true).Duration(0)).Add();
            pointer.Value(0.1).Type(PointerType.Marker).MarkerShape(GaugeShape.Image).Radius("107%").MarkerWidth(28).MarkerHeight(28).ImageUrl(@Url.Content("~/Content/CircularGauge/Images/girl1.png")).Animation(animation => animation.Enable(true).Duration(1500)).Add();
            pointer.Value(0.1).Type(PointerType.Marker).MarkerShape(GaugeShape.Image).Radius("78%").MarkerWidth(28).MarkerHeight(28).ImageUrl(@Url.Content("~/Content/CircularGauge/Images/man1.png")).Animation(animation => animation.Enable(true).Duration(1500)).Add();
            pointer.Value(0.1).Type(PointerType.Marker).MarkerShape(GaugeShape.Image).Radius("48%").MarkerWidth(28).MarkerHeight(28).ImageUrl(@Url.Content("~/Content/CircularGauge/Images/man2.png")).Animation(animation => animation.Enable(true).Duration(1500)).Add();
        }).Ranges(ranges =>
        {
            ranges.Start(0).End(12).StartWidth("25").EndWidth("25").Radius("115%").Color("#01aebe").Add();
            ranges.Start(0).End(11).StartWidth("25").EndWidth("25").Radius("85%").Color("#3bceac").Add();
            ranges.Start(0).End(10).StartWidth("25").EndWidth("25").Radius("55%").Color("#ee4266").Add();
        }).Annotations(annotation => { 
            annotation.Content("12 M").Radius("108%").Angle(98).ZIndex("1").TextStyle(textStyle => textStyle.Size("14px").FontFamily("inherit").Color("#9E9E9E")).Add();
            annotation.Content("11 M").Radius("80%").Angle(81).ZIndex("1").TextStyle(textStyle => textStyle.Size("14px").FontFamily("inherit").Color("#9E9E9E")).Add();
            annotation.Content("10 M").Radius("50%").Angle(69).ZIndex("1").TextStyle(textStyle => textStyle.Size("14px").FontFamily("inherit").Color("#9E9E9E")).Add();
            annotation.Content("Deo").Radius("106%").Angle(192).ZIndex("1").TextStyle(textStyle => textStyle.Size("14px").FontFamily("inherit").Color("#9E9E9E")).Add();
            annotation.Content("Almaida").Radius("78%").Angle(184).ZIndex("1").TextStyle(textStyle => textStyle.Size("14px").FontFamily("inherit").Color("#9E9E9E")).Add();
            annotation.Content("John").Radius("48%").Angle(179).ZIndex("1").TextStyle(textStyle => textStyle.Size("14px").FontFamily("inherit").Color("#9E9E9E")).Add();
        }).Add()).Render()
    </div>
    <!-- custom code start -->
    <style>
        .control-section {
            min-height: 450px;
        }
    </style>
    <!-- custom code end -->
    <script type="text/javascript">
    function onGaugeLoad(sender) {
        @* custom code start *@
        var selectedTheme = themeName ? themeName : 'Material';
        sender.gauge.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/-high/i, 'High').replace(/contrast/i, 'Contrast').replace(/5.3/i, '5');
        @* custom code end *@
        var width = parseInt(((sender.gauge.width, sender.gauge.element.offsetWidth) || sender.gauge.element.offsetWidth || 600), 10);
        if (width < 500) {
            sender.gauge.axes[0].annotations[0].angle = 98;
            sender.gauge.axes[0].annotations[1].angle = 82;
            sender.gauge.axes[0].annotations[2].angle = 72;
            sender.gauge.axes[0].annotations[3].angle = 188;
            sender.gauge.axes[0].annotations[4].angle = 180;
            sender.gauge.axes[0].annotations[5].angle = 175;
            sender.gauge.axes[0].pointers[0].radius = "106%";
            sender.gauge.axes[0].pointers[1].radius = "76%";
            sender.gauge.axes[0].pointers[2].radius = "46%";
        }
    }
    </script>
}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the shot put distance covered by the athletes using the image pointer in the circular gauge.
        </p>
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the PointerImage in ASP.NET MVC Circular Gauge control. Explore here for more details." />
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to use an image to customize the pointer in the circular gauge. The image can be added to the circular gauge's pointer primarily through the use of the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.CircularGauge.CircularGaugePointer.html#Syncfusion_EJ2_CircularGauge_CircularGaugePointer_Type" aria-label="Type"> Type<span class="sr-only">opens in a new tab</span></a>,
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.CircularGauge.CircularGaugePointer.html#Syncfusion_EJ2_CircularGauge_CircularGaugePointer_MarkerShape" aria-label="MarkerShape"> MarkerShape<span class="sr-only">opens in a new tab</span></a> and
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.CircularGauge.CircularGaugePointer.html#Syncfusion_EJ2_CircularGauge_CircularGaugePointer_ImageUrl" aria-label="ImageUrl"> ImageUrl<span class="sr-only">opens in a new tab</span></a> properties in the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetmvc-js2/Syncfusion.EJ2.CircularGauge.CircularGaugePointer.html" aria-label="Pointers">Pointers<span class="sr-only">opens in a new tab</span></a>.
        </p>
        <br>
        <p>
            More information on the pointers can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetmvc/documentation/circular-gauge/gauge-pointers" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
        </p>
    </div>
}









@section Title{
    <title>ASP.NET MVC Circular Gauge PointerImage Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of PointerImage in ASP.NET MVC Circular Gauge Control</h1>
}