@using Syncfusion.EJ2
@model EJ2MVCSampleBrowser.Controllers.AutocompleteModel

@section ControlsSection{
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-lg-12 control-section">
            <div id="wrapper">
                @Html.EJS().AutoCompleteFor(model => model.val).DataSource(@Model.data).Placeholder("e.g. Basketball").Render()
                <div>
                    @Html.ValidationMessageFor(model => model.val)
                </div>
                <div id="submitbutton">
                    @Html.EJS().Button("btn").Content("Submit").Render()
                </div>
            </div>
        </div>

    }

    @*custom code start*@
    <style>
        #wrapper {
            max-width: 246px;
            margin: 30px auto;
            padding-top: 50px;
        }

        #submitbutton {
            margin-top: 20px;
            margin-left: 65px;
        }

        #control-content #wrapper .field-validation-error {
            color: red;
        }
    </style>
    @*custom code end*@

}
@section ActionDescription{
    <div id="action-description">
        <p>
            This example demonstrates the strongly typed helper of <code>AutoComplete</code>. Edit the autoomplete's value and click the 'Submit' button to pass the modified value to controller.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this sample, the AutoComplete is rendered with strongly-typed helper (FOR control) and bind its value from controller using model binding. The modified value is bind to controller action "AutocompleteFor" when submit a page.
        </p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the AutoCompleteFor in ASP.NET MVC AutoComplete control. Explore here for more details."/>
                }
@section Title{
                    <title>ASP.NET MVC AutoComplete AutoCompleteFor Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of AutoCompleteFor in ASP.NET MVC AutoComplete Control</h1>
                }