@using Syncfusion.EJ2
@model EJ2MVCSampleBrowser.Controllers.AutoCompleteRecord
@section ControlsSection{
    <div class="control-section col-lg-12">
        <div id='local-data' class='col-lg-6' style='padding-top:15px'>
            <div class='content'>
                <h4>Local Data</h4>
                @Html.EJS().AutoComplete("local").Placeholder("e.g Item 1").PopupHeight("200px").DataSource(@Model.RecordList).EnableVirtualization(true).Fields(new Syncfusion.EJ2.DropDowns.AutoCompleteFieldSettings { Value = "Text" }).Render()
            </div>
        </div>
        <div id='remote-data' class='col-lg-6' style='padding-top:15px'>
            <div class='content'>
                <h4>Remote Data</h4>

                @Html.EJS().AutoComplete("remote").Placeholder("OrderId").PopupHeight("200px").DataSource(obj =>
                       obj.Url("https://ej2services.syncfusion.com/production/web-services/api/VirtualDropdownData").CrossDomain(true).Adaptor("UrlAdaptor")).EnableVirtualization(true).Fields(new Syncfusion.EJ2.DropDowns.AutoCompleteFieldSettings
                       {
                           Value = "OrderID"
                       }).Render()
            </div>
        </div>
        <div id='group-data' class='col-lg-6' style='padding-top:15px'>
            <div class='content'>
                <h4>Grouping</h4>
                @Html.EJS().AutoComplete("group").Placeholder("e.g Item 1").PopupHeight("200px").DataSource(@Model.RecordList).EnableVirtualization(true).Fields(new Syncfusion.EJ2.DropDowns.AutoCompleteFieldSettings { GroupBy = "Group", Value = "Text" }).Render()
            </div>
        </div>
    </div>
        @*custom code start*@
        <style>
            .content {
            margin: 0 auto;
            width: 250px;
        }
        </style>
        @*custom code end*@
}
@section Meta{
    <meta name="description" content="This example demonstrates the Virtualization in ASP.NET MVC AutoComplete control. Explore here for more details." />
}
@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates the virtualization support of the AutoComplete in ASP.NET MVC application. The component has 150 items bound to it; however, when you open the suggestion list, only few items are loaded based on the popup height, and the remaining items are loaded while scrolling.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            The <code>AutoComplete</code> component supports virtualization, which improves UI performance for large amounts of
            data. To enable virtualization, set the <code>enableVirtualization</code> property to true. When virtualization is
            enabled, AutoComplete doesn't render the entire suggestion data source on initial component rendering. It loads the
            N number of items in the popup on initial rendering and the remaining set number of items will load while scrolling.
            Virtualization works with both local and remote data.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET MVC AutoComplete Virtualization Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Virtualization in ASP.NET MVC AutoComplete Control</h1>
}
