@using Syncfusion.EJ2;


@section ActionDescription{
    This sample demonstrates how to convert spreadsheets to PDF documents using Excel (XlsIO) Library.
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Excel To PDF in ASP.NET MVC Excel (XlsIO) library. Explore here for more details."/>
                }

@section Description{
    <p>
        This sample illustrates the conversion of Microsoft Excel document to PDF.
    </p>
    <br />
    <br />Essential XlsIO allows to export Excel document to PDF by using the <i>Convert</i> method of <i>ExcelToPDFConverter</i> class.
    <br />
    <br /><b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Supports conversion of Excel document to PDF document with cell values, cell styles, tables, charts, autoshapes, pictures, etc.</li>
    </ul>
    <br />
    <b>Note:</b> Installation of Essential PDF and ExcelChartToImageConverter is necessary to run this sample
    <br />
}
@section ControlsSection{
    <div class="control-section">
        @{Html.BeginForm("exceltopdf", "excel", FormMethod.Post);
        { 
        <p style="font-weight:normal">
			Click the "Input Template" button to view the input Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
		</p>
        <p style="font-weight:normal">
			Click the "Convert to PDF" button will convert the Excel document to PDF. PDF viewer is needed to view the converted PDF document.
		</p>
            <br />
            <label style="font-weight:normal">  PDF Page Setup options </label>
            <div class="celldiv">
                &nbsp; &nbsp; &nbsp;
                <table>
                    <tr>
                        <td>
                            &nbsp; &nbsp; &nbsp;
                        </td>
                        <td>
                            <input type="radio" id="NoScaling" name="Group1" value="NoScaling" />
							<label for="NoScaling" style="font-weight:normal">NoScaling</label>
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <input type="radio" id="FitAllRowsOnOnePage" name="Group1" value="FitAllRowsOnOnePage" />
							<label for="FitAllRowsOnOnePage" style="font-weight:normal">FitAllRowsOnOnePage</label>
                        </td>
                    </tr>
                    <tr style="height:20px"></tr>
                    <tr>
                        <td>
                            &nbsp; &nbsp; &nbsp;
                        </td>
                        <td>
                            <input type="radio" id="FitAllColumnsOnOnePage" name="Group1" value="FitAllColumnsOnOnePage" />
							<label for="FitAllColumnsOnOnePage" style="font-weight:normal">FitAllColumnsOnOnePage</label>
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <input type="radio" id="FitSheetOnOnePage" name="Group1" value="FitSheetOnOnePage" checked="checked" />
							<label for="FitSheetOnOnePage" style="font-weight:normal">FitSheetOnOnePage</label>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="rowdiv">
                <label style="font-weight:normal">  Substitute Fonts </label>
            </div>
            <br />
            <div class="rowdiv">
                <div class="celldiv">
                    &nbsp; &nbsp; &nbsp;
                    <input type="checkbox" id="checkfontName" name="checkboxName" value="Font Name" />
                    <label for="checkfontName" style="font-weight:normal">
                        Font Name
                    </label>
                    <H6>&nbsp; &nbsp; &nbsp;&nbsp;Missing fonts in the device will be substituted to Calibri.</H6>
                    &nbsp; &nbsp; &nbsp;
                    <input type="checkbox" id="checkfontStream" name="checkboxStream" value="Font Stream" />
                    <label for="checkfontStream" style="font-weight:normal">
                        Font Stream
                    </label>
                    <H6>&nbsp; &nbsp; &nbsp;&nbsp;Missing fonts in the device will be substituted from embedded resource.</H6>
                </div>
                <br />
                <div class="celldiv">
                    <table>
                        <tr>
                            <td>
                                <input id="viewtemplate" class="e-btn" type="submit" name="button" value="Input Template" style="width:140px;" />
                            </td>
                            <td style="width:10px;"></td>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <td>
                                <input class="e-btn" type="submit" value="Convert to PDF" name="button" style="width:140px;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
        Html.EndForm();
        }
        }
    </div>
    <script>
    document.getElementById('createbtn').onclick = function () {
        if (document.getElementById('radio1').checked == true)
            location.href = '@Html.Raw(@Url.Action("ExcelToPDF", new { @button = "Create", @Group1 = "NoScaling" }))';
        else if (document.getElementById('radio2').checked == true)
            location.href = '@Html.Raw(@Url.Action("ExcelToPDF", new { @button = "Create", @Group1 = "FitAllRowsOnOnePage" }))';
        else if (document.getElementById('radio3').checked == true)
            location.href = '@Html.Raw(@Url.Action("ExcelToPDF", new { @button = "Create", @Group1 = "FitAllColumnsOnOnePage" }))';
        else
            location.href = '@Html.Raw(@Url.Action("ExcelToPDF", new { @button = "Create", @Group1 = "FitSheetOnOnePage" }))';
    };
    </script>
}

@section Title{
                    <title>ASP.NET MVC Excel (XlsIO) library - Excel To PDF Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Excel To PDF in ASP.NET MVC Excel (XlsIO) Library</h1>
                }