@using Syncfusion.EJ2
@using EJ2MVCSampleBrowser.Models
@using Syncfusion.EJ2.PivotView

@section ControlsSection{

    <div class="col-lg-9 control-section" style="overflow:auto">
        <div class="content-wrapper">
            @Html.EJS().PivotView("pivotview").Width("100%").Height("300").DataSourceSettings(dataSourceSettings => dataSourceSettings.DataSource((IEnumerable<object>)ViewData["Data"]).ExpandAll(false).EnableSorting(true)
           .FormatSettings(formatsettings =>
           {
               formatsettings.Name("Amount").Format("C0").MaximumSignificantDigits(10).MinimumSignificantDigits(1).UseGrouping(true).Add();
           })
           .Rows(rows =>
           {
               rows.Name("Country").Add();
               rows.Name("Product_Categories").Caption("Product Categories").Add();
               rows.Name("Products").Add();
           })
           .Columns(columns =>
           {
               columns.Name("Year").Add();
               columns.Name("Quarter").Add();
               columns.Name("Order_Source").Caption("Order Source").Add();
           })
           .Values(values =>
           {
               values.Name("In_Stock").Caption("In Stock").Add();
               values.Name("Sold").Caption("Units Sold").Add();
               values.Name("Amount").Caption("Sold Amount").Add();
           })
           ).GridSettings(new PivotViewGridSettings { ColumnWidth = 140 }).DataBound("dataBound").Render()
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%;height:100%;">
            <tbody>
                <tr style="height: 50px">
                    <td>
                        <div>
                            @Html.EJS().RadioButton("collapse").Label("Collapse All").Name("DrillOperation").Checked(true).Change("onChange").Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            @Html.EJS().RadioButton("expand").Label("Expand All").Name("DrillOperation").Checked(false).Change("onChange").Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            @Html.EJS().RadioButton("fy22").Label("FY 2022").Name("DrillOperation").Checked(false).Change("onChange").Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            @Html.EJS().RadioButton("fy22_q1").Label("FY 2022 >> Q1").Name("DrillOperation").Checked(false).Change("onChange").Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            @Html.EJS().RadioButton("us").Label("United States").Name("DrillOperation").Checked(false).Change("onChange").Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td>
                        <div>
                            @Html.EJS().RadioButton("us_clothing").Label("United States >> Clothing").Name("DrillOperation").Checked(false).Change("onChange").Render()
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <style>
        #pivotview {
            width: 100%;
            height: 100%;
        }
    </style>
    <script>
        var isInitialRender = true;
        function onChange(args) {
            var id = args.event.target.id;
            var pivotObj = document.getElementById('pivotview').ej2_instances[0];
            if (id !== 'collapse') {
                pivotObj.setProperties({ dataSourceSettings: { expandAll: false, drilledMembers: [] } }, true);
            }
            else {
                pivotObj.dataSourceSettings.drilledMembers = [];
            }
            if (id === 'collapse') {
                pivotObj.dataSourceSettings.expandAll = false;
            }
            else if (id === 'expand') {
                pivotObj.dataSourceSettings.expandAll = true;
            }
            else if (id === 'fy22') {
                pivotObj.dataSourceSettings.drilledMembers = [{ name: 'Year', items: ['FY 2022'] }];
            }
            else if (id === 'fy22_q1') {
                pivotObj.dataSourceSettings.drilledMembers = [{ name: 'Year', items: ['FY 2022'] },
                { name: 'Quarter', items: ['Q1'] }];
            }
            else if (id === 'us') {
                pivotObj.dataSourceSettings.drilledMembers = [{ name: 'Country', items: ['United States'] }];
            }
            else {
                pivotObj.dataSourceSettings.drilledMembers = [{ name: 'Country', items: ['United States'] },
                { name: 'Product_Categories', items: ['Clothing'] }];
            }
        }
        function dataBound() {
            var pivotObj = document.getElementById('pivotview').ej2_instances[0];
            if (isInitialRender && pivotObj.element.querySelector('.e-valuescontent')) {
                pivotObj.layoutRefresh();
                isInitialRender = false;
            }
        }
    </script>
}

@section PreScripts {
    <script>
        ej.base.enableRipple(false);
    </script>
}

@section ActionDescription{
   <div id="action-description">
       <p>This sample demonstrates the drill up and drill down capabilities of pivot table.</p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In the sample, the pivot table can be completely expanded as well as collapsed. It can be done using
            <code>expandAll</code> property in pivot table.
            <br><br>Meanwhile a particular row or column header can also be drilled during initial
            loading of the pivot table. It can be done using the
            <code>name</code> and
            <code>items</code> options inside the
            <code>drilledMembers</code> property in pivot table.
        </p>
    </div>
}
