@using Syncfusion.EJ2;
@section ControlsSection{    
    <div>

        <div class="col-lg-8 control-section" align="center">        

            @(Html.EJS().BulletChart("container")
                                        .Tooltip(tp => tp.Enable(true))
                                        .ValueField("value")
                                        .Width("550")
                                        .TargetField("target")
                                        .Animation(an => an.Enable(false))
                                        .Ranges(rn =>
                                        {
                                            rn.End(1.5).Opacity(1).Color("#599C20").Add();
                                            rn.End(2.5).Opacity(1).Color("#EFC820").Add();
                                            rn.End(3).Opacity(1).Color("#CA4218").Add();
                                        })
                                        .Minimum(0).Maximum(3).Interval(0.5)
                                        .MajorTickLines(mt => mt.Width(1))
                                        .Title("Package Downloads")
                                        .Subtitle("in Thousands")
                                        .TitlePosition(Syncfusion.EJ2.Charts.TextPosition.Top)
                                        .Orientation(Syncfusion.EJ2.Charts.OrientationType.Horizontal)
                                        .DataSource(ViewData["dataSource"])                                     
                                        .Load("load")
                                        .Render())          


        </div>
   
        <div class="col-lg-4 property-section">


            <div class="property-panel-header">Properties</div>
            <table title="Properties" style="width: 100%; height: 100%;">
                <tr>
                    <td>
                        <div class="prop-text">Start Color:</div>
                    </td>
                    <td>
                        <div align="center">
                            @Html.EJS().ColorPicker("color-picker1").Value("#599C20").Change("onColorChange1").Mode(Syncfusion.EJ2.Inputs.ColorPickerMode.Palette).Render()
                        </div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div class="prop-text">Middle Color:</div>
                    </td>
                    <td>
                        <div align="center">
                            @Html.EJS().ColorPicker("color-picker2").Value("#EFC820").Change("onColorChange2").Mode(Syncfusion.EJ2.Inputs.ColorPickerMode.Palette).Render()
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="prop-text">End Color:</div>
                    </td>
                    <td>
                        <div align="center">
                            @Html.EJS().ColorPicker("color-picker3").Value("#CA4218").Change("onColorChange3").Mode(Syncfusion.EJ2.Inputs.ColorPickerMode.Palette).Render()
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="prop-text">Use Range Color:</div>
                    </td>
                    <td>
                        <div align="center">
                            @Html.EJS().CheckBox("rangeColor").Change("changeRangeColor").Checked(false).Render()
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="prop-text">Opposed position:</div>
                    </td>
                    <td>
                        <div align="center">
                            @Html.EJS().CheckBox("position").Change("changeposition").Checked(false).Render()
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
        td {
            width: 50% !important;
        }
        tr {
            height: 50px !important
        }
    </style>
    <script src="~/Scripts/bullet-chart/theme-color.js"></script>
    @*custom code end*@
    <script>
        function onColorChange1(args) {
            var bullet = document.getElementById("container").ej2_instances[0];
            bullet.ranges[0].color = args.currentValue.hex;
            bullet.refresh();
        }
        function onColorChange2(args) {
            var bullet = document.getElementById("container").ej2_instances[0];
            bullet.ranges[1].color = args.currentValue.hex;
            bullet.refresh();
        }
        function onColorChange3(args) {
            var bullet = document.getElementById("container").ej2_instances[0];
            bullet.ranges[2].color = args.currentValue.hex;
            bullet.refresh();
        }
        function changeposition(args) {
            var position = document.getElementById("container").ej2_instances[0];
            position.opposedPosition = args.checked;
            position.refresh();
        }

        function changeRangeColor(args) {
            var bullet = document.getElementById("container").ej2_instances[0];
            bullet.majorTickLines.useRangeColor = args.checked;
            bullet.minorTickLines.useRangeColor = args.checked;
            bullet.labelStyle.useRangeColor = args.checked;
            bullet.refresh();
        }
        var load = function (args) {
            loadBulletChartTheme(args);
        }
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Range and Label Settings in ASP.NET MVC Bullet Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a bullet chart with different customization in value, range fill, opposed position changes.
    </p>
}
@section Description{
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover a feature bar or comparative bar on the bullet chart.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Bullet Chart Range and Label Settings Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Range and Label Settings in ASP.NET MVC Bullet Chart Control</h1>
                }