@using Syncfusion.EJ2;
@using Syncfusion.EJ2.DropDowns;
@section ControlsSection{

    <div class="col-lg-9 control-section">
        <div style="text-align:center">
            @(Html.EJS().BulletChart("featureBar")
                                        .Tooltip(tp => tp.Enable(true))
                                        .ValueField("value")
                                        .Width("600")
                                        .TargetField("target")
                                        .Animation(an => an.Enable(false))
                                        .Ranges(rn =>
                                        {
                                            rn.End(150).Add();
                                            rn.End(250).Add();
                                            rn.End(300).Add();
                                        })
                                        .Minimum(0).Maximum(300).Interval(50)
                                        .Title("New Customers")
                                        .Subtitle("$ in Thousands")
                                        .TitlePosition(Syncfusion.EJ2.Charts.TextPosition.Left)
                                        .Orientation(Syncfusion.EJ2.Charts.OrientationType.Horizontal)
                                        .DataSource("dataSource")
                                        .Load("load")
                                        .Render()
            )
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table title="Properties">
            <tr>
                <td >
                    <div>Actual Value:</div>
                </td>
                <td>
                    <div >
                        @Html.EJS().Slider("actualvalue").Value(270).Min(0).Max(300).Tooltip(tt => tt.IsVisible(true)).Change("changeactualvalue").Render()
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Target Value:</div>
                </td>
                <td >
                    <div>
                        @Html.EJS().Slider("targetvalue").Value(250).Min(0).Max(300).Tooltip(tt => tt.IsVisible(true)).Change("changetargetvalue").Render()
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td >
                    <div>Feature Bar Type:</div>
                </td>
                <td style="width: 60%;">
                    <div>
                        @Html.EJS().DropDownList("featureType").Index(0).DataSource(ViewData["data"]).Value("Rect").Change("featureTypeChange").Render()
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td >
                    <div>Feature Bar Color:</div>
                </td>
                <td style="width: 40%;">
                    <div>
                        @Html.EJS().ColorPicker("color-picker1").Value("#000000").Change("onColorChange1").Mode(Syncfusion.EJ2.Inputs.ColorPickerMode.Palette).Render()
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td>
                    <div>Target Color:</div>
                </td>
                <td style="width: 40%;">
                    <div>
                        @Html.EJS().ColorPicker("color-picker2").Value("#000000").Change("onColorChange2").Mode(Syncfusion.EJ2.Inputs.ColorPickerMode.Palette).Render()
                    </div>
                </td>
            </tr>
        </table>
    </div>

    @*custom code start*@
    <style>
        td{
            width: 50% !important;
        }
        tr {
            height: 50px !important;
        }
        #control-container {
            padding: 0px !important;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/bullet-chart/theme-color.js"></script>
    <script>
        var dataSource = [{ value: 270, target: 250}]
        function onColorChange1(args) {
            var bullet = document.getElementById("featureBar").ej2_instances[0];
            bullet.valueFill = args.currentValue.hex;
            bullet.refresh();
        }
        function onColorChange2(args) {        
            var bullet = document.getElementById("featureBar").ej2_instances[0];
            bullet.targetColor = args.currentValue.hex;
            bullet.refresh();
        }
        var featureTypeChange = function (args) {
            var featureType = document.getElementById('featureType').ej2_instances[0];
            var chart = document.getElementById('featureBar').ej2_instances[0];
            chart.type = featureType.value;
            chart.refresh();
        }
        function changeactualvalue (args) {
            var actual = document.getElementById("featureBar").ej2_instances[0];
            actual.dataSource[0].value = args.value;
            actual.refresh();
        }
        function changetargetvalue(args) {
            var target = document.getElementById("featureBar").ej2_instances[0];
            target.dataSource[0].target = args.value;
            target.refresh();
        }
        var load = function (args) {
            loadBulletChartTheme(args);
            args.bulletChart.titlePosition = ej.base.Browser.isDevice ? 'Top' : 'Left';
            args.bulletChart.width = ej.base.Browser.isDevice ? "100%" : "80%";
        }
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Feature and Target Bar in ASP.NET MVC Bullet Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a customization of feature bar and comparative bar type in terms of color and width.
    </p>
}
@section Description{
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover a feature bar or comparative bar on the bullet chart.
    </p>
}
@section Title{
                    <title>ASP.NET MVC Bullet Chart Feature and Target Bar Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Feature and Target Bar in ASP.NET MVC Bullet Chart Control</h1>
                }