@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div class="row linear-parent">
            <div class="col-lg-12 col-md-12 linear-row">
                <diV class="row">
                    <div class="col-lg-12 col-md-12 progressbar-label">Tiny</div>
                    <div class="col-lg-12 col-md-12">
                        <div class="linear-progress">
                            <div id="tinycontainer">
                                @(Html.EJS().ProgressBar("tinycontainer").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(10)
                                .Width("90%").Height("60").Load("Load")
                                .TrackThickness(4).ProgressThickness(4).Minimum(0).Maximum(100)
                                .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                                .Render())
                            </div>
                        </div>
                    </div>
                </diV>
            </div>
            <div class="col-lg-12 col-md-12 linear-row">
                <div class="col-lg-12 col-md-12 progressbar-label left-label">Small</div>
                <div class="linear-progress">
                    <div id="smallcontainer">
                        @(Html.EJS().ProgressBar("smallcontainer").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(20)
                        .Width("90%").Height("60").Load("Load")
                        .TrackThickness(14).ProgressThickness(14).Minimum(0).Maximum(100)
                        .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                        .Render())
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 linear-row">
                <div class="col-lg-12 col-md-12 progressbar-label left-label">Medium</div>
                <div class="linear-progress">
                    <div id="mediumcontainer">
                        @(Html.EJS().ProgressBar("mediumcontainer").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(30)
                        .Width("90%").Height("60").Load("Load")
                        .TrackThickness(24).ProgressThickness(24).Minimum(0).Maximum(100)
                        .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                        .Render())
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 linear-row">
                <div class="col-lg-12 col-md-12 progressbar-label left-label">Large</div>
                <div class="linear-progress">
                    <div id="largecontainer">
                        @(Html.EJS().ProgressBar("largecontainer").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(40)
                        .Width("90%").Height("60").Load("Load")
                        .TrackThickness(34).ProgressThickness(34).Minimum(0).Maximum(100)
                        .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                        .Render())
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 linear-row">
                <diV class="row">
                    <div class="col-lg-12 col-md-12 progressbar-label">Big</div>
                    <div class="col-lg-12 col-md-12">
                        <div class="linear-progress">
                            <div id="bigcontainer">
                                @(Html.EJS().ProgressBar("bigcontainer").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(50)
                                .Width("90%").Height("60").Load("Load")
                                .TrackThickness(44).ProgressThickness(44).Minimum(0).Maximum(100)
                                .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                                .Render())
                            </div>
                        </div>
                    </div>
                </diV>
            </div>
        </div>
    </div>

    @*custom code start*@
    <style>
        .e-progressbar, #lineardeterminate, #linearindeterminate, #linearbuffer, #linearsegment {
            display: block;
        }

        .e-progressbar {
            overflow: hidden;
        }

        .actual-txt {
            font-size: 14px;
        }

        #control-container {
            padding: 0px !important;
        }

        .replay-progressbar {
            right: 100px;
        }

        .linear-row {
            padding: 2%;
        }

        .linear-parent {
            text-align: center;
        }

        .left-label {
            margin-left: 13.5% !important;
        }

        .progressbar-label {
            text-align: left;
            font-family: Roboto-Regular;
            font-size: 12px;
            color: #3D3E3C;
            letter-spacing: 0;
            margin-top: -2%;
            margin-left: 14.5%;
        }

        .linear-progress {
            width: 80%;
            margin: auto;
        }
    </style>
    @*custom code end*@
    <script>
        var Load = function (args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Fluent2';
            args.progressBar.theme = (selectedTheme.charAt(0).toUpperCase() +
                selectedTheme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5');
        };
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Linear in ASP.NET MVC Progress Bar control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a linear progress bar with track thickness and animation support.
    </p>
}
@section Description{
    <p>
        This demo for Essential JS2 Progress Bar control shows the linear progress bar with different track width.
    </p>
}
@section Title{
    <title>ASP.NET MVC Progress Bar Linear Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example for Linear in ASP.NET MVC Progress Bar Control</h1>
}
