@using Syncfusion.EJ2;
@section ControlsSection{
    <div class="control-section">
        <div class="row linear-parent" style="margin-left: 10%">
            <div style="margin-top: 0.5%">
                <div class="col-lg-12 col-sm-12 progressbar-label-tooltip">HTML5</div>
                <div id="lineardeterminate">
                    @(Html.EJS().ProgressBar("lineardeterminate").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(75)
                                              .Height("60").Load("Load").Minimum(0).Maximum(100)
                                              .TrackThickness(20)
                                              .ProgressThickness(20).Tooltip(tp=>tp.Enable(true))
                                              .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                                              .Render())
                </div>
            </div>
            <div style="margin-top: 0.5%">
                <div class="col-lg-12 col-sm-12 progressbar-label-tooltip">CSS3</div>
                <div id="linearindeterminate">
                    @(Html.EJS().ProgressBar("linearindeterminate").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(65)
                                              .Height("60").Load("Load").Minimum(0).Maximum(100)
                                              .TrackThickness(20)
                                              .ProgressThickness(20).Tooltip(tl => tl.Enable(true))
                                              .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                                              .Render())
                </div>
            </div>
            <div style="margin-top: 0.5%">
                <div class="col-lg-12 col-sm-12 progressbar-label-tooltip">Bootstrap</div>
                <div id="linearsegment">
                    @(Html.EJS().ProgressBar("linearsegment").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(55)
              .Height("60").Load("Load").Minimum(0).Maximum(100)
              .TrackThickness(20)
                                              .ProgressThickness(20).Tooltip(tl => tl.Enable(true))
                                              .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                                              .Render())
                </div>
            </div>
            <div style="margin-top: 0.5%">
                <div class="col-lg-12 col-sm-12 progressbar-label-tooltip">JavaScript</div>
                <div id="linearbuffer">
                    @(Html.EJS().ProgressBar("linearbuffer").Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear).Value(75)
                                              .Height("60").Load("Load").Minimum(0).Maximum(100)
                                              .TrackThickness(20)
                                              .ProgressThickness(20).Tooltip(tl => tl.Enable(true))
                                              .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                                              .Render())
                </div>
            </div>
            <div style="margin-top: 0.5%">
                <div class="col-lg-12 col-sm-12 progressbar-label-tooltip">MySQL</div>
                <div id="linearactive">
                    @(Html.EJS().ProgressBar("linearactive")
                                              .Type(Syncfusion.EJ2.ProgressBar.ProgressType.Linear)
                                              .Value(75)
                                              .Height("60")
                                              .Load("Load").Minimum(0).Maximum(100)
                                              .TrackThickness(20)
                                              .ProgressThickness(20).Tooltip(tl=>tl.Enable(true))
                                              .Animation(an => an.Enable(true).Delay(0).Duration(2000))
                                              .Render())
                </div>
            </div>
        </div>
    </div>



    @*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }

        .linear-parent {
            text-align: center;
            width: 70%;
            margin: auto !important;
        }

        .progressbar-label-tooltip {
            text-align: left;
            font-family: Roboto-Regular;
            font-size: 14px;
            color: #3D3E3C;
            margin-left: 10px;
            padding: 0px;
            top: 5px;
        }

        #reLoad {
            border-radius: 4px;
            text-transform: capitalize;
        }
    </style>
    @*custom code end*@
    <script src="~/Scripts/Progressbar/theme-color.js"></script>
    <script>
        var div = document.getElementsByClassName('progressbar-label-tooltip');
        var Load = function (args) {
            loadProgressBarTheme(args);            
            if (args.progressBar.theme === 'HighContrast' || args.progressBar.theme === 'Bootstrap5Dark' || args.progressBar.theme === 'BootstrapDark' || args.progressBar.theme === 'FabricDark'
                || args.progressBar.theme === 'TailwindDark' || args.progressBar.theme === 'Tailwind3Dark' || args.progressBar.theme === 'MaterialDark' || args.progressBar.theme === 'FluentDark' || args.progressBar.theme === 'Material3Dark' || args.progressBar.theme === 'Fluent2HighContrast' || args.progressBar.theme === 'Fluent2Dark') {
                for (let i = 0; i < div.length; i++) {
                    div[i].setAttribute('style', 'color:white');
                }
            }
        }
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Linear in ASP.NET MVC Progress Bar control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a linear progress bar with a tooltip.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the linear progress bar with a tooltip. The <code>format</code> and <code>textStyle</code> properties in the tooltip settings can be used to format and customize the tooltip text.
    </p>
}
@section Title{
    <title>ASP.NET MVC Progress Bar Tooltip Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Linear in ASP.NET MVC Progress Bar Control</h1>
}