@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
@using Syncfusion.EJ2.DropDowns

@section ControlsSection{
    <div class="col-lg-9 control-section api-carousel-section">
        <div class="e-sample-resize-container carousel-sample">
            @(Html.EJS().Carousel("apiCarousel").CssClass("api-carousel").Interval(3000)
                .Items(new List<CarouselItem> {
                    new CarouselItem { Template = "#itemTemplate1"  },
                    new CarouselItem { Template = "#itemTemplate2"  },
                    new CarouselItem { Template = "#itemTemplate3"  },
                    new CarouselItem { Template = "#itemTemplate4"  },
                    new CarouselItem { Template = "#itemTemplate5"  }
                })
                .Render()
            )
        </div>
    </div>
    <div class="col-lg-3 property-section api-carousel-section">
        <table id="property" title="Properties" class="property-panel-table" style="width: 100%;">
            <tbody>
                <tr>
                    <td>Enable AutoPlay</td>
                    <td>
                        <div class='datepicker-control-section'>
                            @Html.EJS().Switch("autoPlay").Checked(true).Change("autoPlayChange").Render()
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Infinite Looping</td>
                    <td>
                        <div class='datepicker-control-section'>
                            @Html.EJS().Switch("loop").Checked(true).Change("loopChange").Render()
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Show Indicators</td>
                    <td>
                        <div class='datepicker-control-section'>
                            @Html.EJS().Switch("indicator").Checked(true).Change("showIndicatorChange").Render()
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Show Play Button</td>
                    <td>
                        <div class='datepicker-control-section'>
                            @Html.EJS().Switch("playBtn").Checked(false).Change("showPlayButtonChange").Render()
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Show Arrows</td>
                    <td>
                        <div class='datepicker-control-section'>
                            @Html.EJS().DropDownList("arrow").Index(1).Change("showArrowChange").Fields(new DropDownListFieldSettings { Text = "Arrow", Value = "Id" }).DataSource((IEnumerable<object>)ViewData["showArrowData"]).Render()
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Slide Interval</td>
                    <td>
                        <div class='datepicker-control-section'>
                            @Html.EJS().DropDownList("interval").Index(1).Change("intervalChange").Fields(new DropDownListFieldSettings { Text = "Interval", Value = "Id" }).DataSource((IEnumerable<object>)ViewData["intervalData"]).Render()
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script id="itemTemplate1" type="text/x-template">
        <figure class="img-container">
            <img src="@Url.Content("~/Content/carousel/images/bridge.jpg")" alt="bridge" style="height:100%; width: 100%;" />
            <figcaption class="img-caption">Showing 1 of 5</figcaption>
        </figure>
    </script>
    <script id="itemTemplate2" type="text/x-template">
        <figure class="img-container">
            <img src="@Url.Content("~/Content/carousel/images/trees.jpg")" alt="spring_trees" style="height:100%; width: 100%;" />
            <figcaption class="img-caption">Showing 2 of 5</figcaption>
        </figure>
    </script>
    <script id="itemTemplate3" type="text/x-template">
        <figure class="img-container">
            <img src="@Url.Content("~/Content/carousel/images/waterfall.jpg")" alt="waterfall" style="height:100%; width: 100%;" />
            <figcaption class="img-caption">Showing 3 of 5</figcaption>
        </figure>
    </script>
    <script id="itemTemplate4" type="text/x-template">
        <figure class="img-container">
            <img src="@Url.Content("~/Content/carousel/images/sea.jpg")" alt="sea" style="height:100%; width: 100%;" />
            <figcaption class="img-caption">Showing 4 of 5</figcaption>
        </figure>
    </script>
    <script id="itemTemplate5" type="text/x-template">
        <figure class="img-container">
            <img src="@Url.Content("~/Content/carousel/images/rocks.jpeg")" alt="rocks" style="height:100%; width: 100%;" />
            <figcaption class="img-caption">Showing 5 of 5</figcaption>
        </figure>
    </script>

    <script type="text/javascript">
        function showArrowChange(args) {
            var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
            carouselObj.buttonsVisibility = args.value;
            carouselObj.dataBind();
        }
        function showIndicatorChange(args) {
            var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
            carouselObj.showIndicators = args.checked;
            carouselObj.dataBind();
        }
        function showPlayButtonChange(args) {
            var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
            carouselObj.showPlayButton = args.checked;
            carouselObj.dataBind();
        }
        function intervalChange(args) {
            var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
            carouselObj.interval = args.value;
            carouselObj.dataBind();
        }
        function autoPlayChange(args) {
            var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
            carouselObj.autoPlay = args.checked;
            carouselObj.dataBind();
        }
        function loopChange(args) {
            var carouselObj = document.querySelector('.e-carousel').ej2_instances[0];
            carouselObj.loop = args.checked;
            carouselObj.dataBind();
        }
    </script>
}

@section ActionDescription{
    <p>
        This sample demonstrates the basic rendering of the <a href="https://www.syncfusion.com/aspnet-mvc-ui-controls/carousel" target="_blank" aria-label="ASP.NET MVC Carousel">ASP.NET MVC Carousel<span class="sr-only">opens in a new tab</span></a> component.
    </p>
}

@section Description{
    <p>
        In this demo,  you can manually change the properties of the <code>ASP.NET MVC Carousel</code> component like <code>autoPlay</code>, <code>buttonsVisibility</code>, <code>showIndicators</code>,
        <code>interval</code>, <code>showPlayButton</code>, <code>loop</code> using the property panel.
    </p>
    <p>
        More information about the properties available in the Carousel component can be found in this <a target="_blank" href="https://ej2.syncfusion.com/documentation/api/carousel/" aria-label="documentation section" >documentation section<span class="sr-only">opens in a new tab</span></a>.
    </p>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the API in ASP.NET MVC Carousel control. Explore here for more details."/>
                }

<style>
    .api-carousel-section .carousel-sample {
        margin: 0 auto 2em;
        max-width: 500px;
        height: 300px;
    }

    .api-carousel-section .property-panel-table td {
        margin: 0;
        padding-bottom: 1em;
    }

    .api-carousel .e-carousel-items .e-carousel-item .img-container {
        height: 100%;
    }

        .api-carousel .e-carousel-items .e-carousel-item .img-container .img-caption {
            color: rgba(255, 255, 255);
            font-style: oblique;
            font-size: 1.5rem;
            margin: 0;
            left: 1.5rem;
            position: absolute;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            top: 1.5rem;
        }
</style>

@section Title{
                    <title>ASP.NET MVC Carousel API Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of API in ASP.NET MVC Carousel Control</h1>
                }
