@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2.DropDowns
@using EJ2MVCSampleBrowser.Models
@using Syncfusion.EJ2
@section ControlsSection {
    <div class="col-lg-8 control-section multiline">
        <div class="multiline_wrapper">
            @Html.EJS().TextBox("default").Multiline(true).Placeholder("Enter your address").FloatLabelType(FloatLabelType.Auto).Render()
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div class="property-section">
            <table id="property" class="multiline-property" title="Properties">
                <tr>
                    <td class="left-side">Float Label Type</td>
                    <td>
                        @Html.EJS().DropDownList("floatText").Placeholder("Select float type").PopupHeight("220px").Text("Auto").DataSource(
                                            (IEnumerable<floatValues>)ViewData["data"]).Change("floatHandler").Fields(new DropDownListFieldSettings { Text = "text", Value = "floatValue" }).Render()
                    </td>
                </tr>
                <tr>
                    <td class="left-side">Disabled</td>
                    <td>
                        @Html.EJS().CheckBox("sample").Change("enabledHandler").Checked(false).CssClass("multiline").Render()
                    </td>
                </tr>
                <tr>
                    <td class="left-side">Read only</td>
                    <td>
                        @Html.EJS().CheckBox("sample1").Change("readonlyHandler").Checked(false).CssClass("multiline").Render()
                    </td>
                </tr>
                <tr>
                    <td class="left-side">Rows</td>
                    <td>
                        @Html.EJS().NumericTextBox("rowValue").Format("##").Value(2).Max(20).Min(1).Step(1).Change("rowHandler").Render()
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
    @*custom code start*@
<style>
    .multiline_wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }

    .multiline-property .left-side {
        font-size: 14px;
        padding: 8px;
        width: 50%;
    }
    .multiline-property.property-panel-table div.multiline {
        padding-left: 0px;
    }
</style>
    @*custom code end*@
<script type="text/javascript">
        function floatHandler(args) {
            var textareaObj = document.getElementById('default').ej2_instances[0];
            switch (args.value) {
                case 'Auto':
                    textareaObj.floatLabelType = 'Auto';
                    break;
                case 'Always':
                    textareaObj.floatLabelType = 'Always';
                    break;
                case 'Never':
                    textareaObj.floatLabelType = 'Never';
                    break;
            }
        }
        function enabledHandler(args) {
            var textareaObj = document.getElementById('default').ej2_instances[0];
            textareaObj.enabled = !args.checked;
        }
        function readonlyHandler(args) {
            var textareaObj = document.getElementById('default').ej2_instances[0];
            textareaObj.readonly = args.checked;
        }
        function rowHandler(args) {
            var textareaObj = document.getElementById('default').ej2_instances[0];
            textareaObj.addAttributes({ rows: args.value });
        }</script>

@section ActionDescription{
    <div id="action-description">
    <p>
            This example demonstrates the multiline functionalities of the textbox control. 
            Enter or fill the textbox with multiple rows of text. 
            Choose the corresponding option from the property panel to update the multiline textbox.
        </p>
    </div>
}
@section Description{
    <div id="description">
       <p>The Multiline Textbox is used to edit or display multiple lines of text that helps you to accept address, description, comments, feedbacks, and more in a form. 
                In this sample, rendered multiline textbox from <b>textarea</b> tag and the following options are available to customize it:</p>
        <ul>
                <li>Choose float label types either 'Never', 'Always', or 'Auto' to float the placeholder text.</li>
                <li>To make a read-only multiline textbox, check the "read-only" option.</li>
                <li>Disable the textbox by unchecking an "enabled" option.</li>
                <li>Change the number of rows count to restrict the length of the input.</li> 
            </ul>
        <p>Note: After resizing the multiline textbox manually, the selected rows option from the property panel is not updated to the multiline textbox.</p>
    </div>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Multiline TextBox in ASP.NET MVC Textbox control. Explore here for more details."/>
                }

@section Title{
                    <title>ASP.NET MVC Textbox Multiline TextBox Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Multiline TextBox in ASP.NET MVC Textbox Control</h1>
                }