@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Charts
@section ControlsSection{
    <div class="control-section">
        <div class="cols-sample-area" align="center">
            <div style="width: 400px; text-align: center; font-size: 17px">
                Population comparision between various countries
            </div>
            <div style="width: 380px; text-align: center; font-size: 12.5px;">
                (From 2005 to 2014)
            </div>
            <br>
            <br>
            <table class="cols-sample-area row" style="width: 100%;">
                <tr>
                    <td align="center"></td>
                    <td>
                        <div id="population" style="height: 50px;text-align: center">
                            <b>Population</b>
                        </div>
                    </td>
                    <td>
                        <div id="density" style="height: 50px;text-align: center">
                            <b>Population Density</b>
                        </div>
                    </td>
                    <td>
                        <div id="growth" style="height: 50px;text-align: center">
                            <b>Population Growth Rate</b>
                        </div>
                    </td>
                    <td>
                        <div id="birth" style="height: 50px;text-align: center">
                            <b>Birth Rate</b>
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>Australia</b>
                    </td>
                    <td>
                        <div id="p-australia" style="height: 50px">
                            @Html.EJS().Sparkline("p-australia").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-australia" style="height: 50px">
                            @Html.EJS().Sparkline("d-australia").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval10}")).XName("xval").YName("yval10").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-australia" style="height: 50px">
                            @Html.EJS().Sparkline("g-australia").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval20}")).XName("xval").YName("yval20").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-australia" style="height: 50px">
                            @Html.EJS().Sparkline("b-australia").AxisSettings(new SparklineAxisSettings { MinY = 12 }).Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval30}")).XName("xval").YName("yval30").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>Canada</b>
                    </td>
                    <td>
                        <div id="p-canada" style="height: 50px">
                            @Html.EJS().Sparkline("p-canada").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval1}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval1").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-canada" style="height: 50px">
                            @Html.EJS().Sparkline("d-canada").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval11}")).XName("xval").YName("yval11").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-canada" style="height: 50px">
                            @Html.EJS().Sparkline("g-cananda").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval21}")).XName("xval").YName("yval21").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-canada" style="height: 50px">
                            @Html.EJS().Sparkline("b-canada").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").AxisSettings(new SparklineAxisSettings { MinY = 10.20 }).TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval31}")).XName("xval").YName("yval31").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>China</b>
                    </td>
                    <td>
                        <div id="p-china" style="height: 50px">
                            @Html.EJS().Sparkline("p-china").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval2}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval2").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-china" style="height: 50px">
                            @Html.EJS().Sparkline("d-china").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval12}")).XName("xval").YName("yval12").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-china" style="height: 50px">
                            @Html.EJS().Sparkline("g-china").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval22}")).XName("xval").YName("yval22").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-china" style="height: 50px">
                            @Html.EJS().Sparkline("b-china").Load("sparkload").AxisSettings(new SparklineAxisSettings { MinY = 12 }).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval32}")).XName("xval").YName("yval32").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>France</b>
                    </td>
                    <td>
                        <div id="p-france" style="height: 50px">
                            @Html.EJS().Sparkline("p-france").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval3}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval3").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-france" style="height: 50px">
                            @Html.EJS().Sparkline("d-france").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval13}")).XName("xval").YName("yval13").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-france" style="height: 50px">
                            @Html.EJS().Sparkline("g-france").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval23}")).XName("xval").YName("yval23").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-france" style="height: 50px">
                            @Html.EJS().Sparkline("b-france").Load("sparkload").AxisSettings(new SparklineAxisSettings { MinY = 11.5 }).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval33}")).XName("xval").YName("yval33").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>Germany</b>
                    </td>
                    <td>
                        <div id="p-germany" style="height: 50px">
                            @Html.EJS().Sparkline("p-germany").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval4}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval4").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-germany" style="height: 50px">
                            @Html.EJS().Sparkline("d-germany").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval14}")).XName("xval").YName("yval14").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-germany" style="height: 50px">
                            @Html.EJS().Sparkline("g-germany").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval24}")).XName("xval").YName("yval24").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-germany" style="height: 50px">
                            @Html.EJS().Sparkline("b-germany").Load("sparkload").AxisSettings(new SparklineAxisSettings { MinY = 8 }).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval34}")).XName("xval").YName("yval34").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>India</b>
                    </td>
                    <td>
                        <div id="p-india" style="height: 50px">
                            @Html.EJS().Sparkline("p-india").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval5}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval5").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-india" style="height: 50px">
                            @Html.EJS().Sparkline("d-india").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval15}")).XName("xval").YName("yval15").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-india" style="height: 50px">
                            @Html.EJS().Sparkline("g-india").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval25}")).XName("xval").YName("yval25").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-india" style="height: 50px">
                            @Html.EJS().Sparkline("b-india").Load("sparkload").AxisSettings(new SparklineAxisSettings { MinY = 19 }).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval35}")).XName("xval").YName("yval35").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>Russia</b>
                    </td>
                    <td>
                        <div id="p-russia" style="height: 50px">
                            @Html.EJS().Sparkline("p-russia").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval6}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval6").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-russia" style="height: 50px">
                            @Html.EJS().Sparkline("d-russia").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval16}")).XName("xval").YName("yval16").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-russia" style="height: 50px">
                            @Html.EJS().Sparkline("g-russia").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval26}")).XName("xval").YName("yval26").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-russia" style="height: 50px">
                            @Html.EJS().Sparkline("b-russia").Load("sparkload").AxisSettings(new SparklineAxisSettings { MinY = 9.5 }).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval36}")).XName("xval").YName("yval36").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>Sweden</b>
                    </td>
                    <td>
                        <div id="p-sweden" style="height: 50px">
                            @Html.EJS().Sparkline("p-swedan").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval7}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval7").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-sweden" style="height: 50px">
                            @Html.EJS().Sparkline("d-sweden").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval17}")).XName("xval").YName("yval17").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-sweden" style="height: 50px">
                            @Html.EJS().Sparkline("g-sweden").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval27}")).XName("xval").YName("yval27").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-sweden" style="height: 50px">
                            @Html.EJS().Sparkline("b-sweden").Load("sparkload").AxisSettings(new SparklineAxisSettings { MinY = 10 }).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval37}")).XName("xval").YName("yval37").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>United Kingdom</b>
                    </td>
                    <td>
                        <div id="p-uk" style="height: 50px">
                            @Html.EJS().Sparkline("p-uk").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval8}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval8").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-uk" style="height: 50px">
                            @Html.EJS().Sparkline("d-uk").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval18}")).XName("xval").YName("yval18").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-uk" style="height: 50px">
                            @Html.EJS().Sparkline("g-uk").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval28}")).XName("xval").YName("yval28").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-uk" style="height: 50px">
                            @Html.EJS().Sparkline("b-uk").Load("sparkload").AxisSettings(new SparklineAxisSettings { MinY = 10 }).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval38}")).XName("xval").YName("yval38").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center">
                        <b>United Sates</b>
                    </td>
                    <td>
                        <div id="p-us" style="height: 50px">
                            @Html.EJS().Sparkline("p-us").Format("n").UseGroupingSeparator(true).Load("sparkload").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval9}").TrackLineSettings(new SparklineTrackLineSettings { Visible = true, Color = "#fc5070", Width = 2 })).DataSource(ViewData["datasource"]).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Line).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").XName("xval").YName("yval9").Render()
                        </div>
                    </td>
                    <td>
                        <div id="d-us" style="height: 50px">
                            @Html.EJS().Sparkline("d-us").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Area).ValueType(SparklineValueType.Category).Fill("#3C78EF").Opacity(1).Border(new SparklineSparklineBorder { Color = "#fc5070", Width = 2 }).NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval19}")).XName("xval").YName("yval19").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="g-us" style="height: 50px">
                            @Html.EJS().Sparkline("g-us").Load("sparkload").Height("50px").Width("90%").LineWidth(2).Type(SparklineType.WinLoss).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval29}")).XName("xval").YName("yval29").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                    <td>
                        <div id="b-us" style="height: 50px">
                            @Html.EJS().Sparkline("b-us").Load("sparkload").AxisSettings(new SparklineAxisSettings { MinY = 13 }).Height("50px").Width("90%").LineWidth(2).Type(SparklineType.Column).ValueType(SparklineValueType.Category).Fill("#3C78EF").NegativePointColor("#fc5070").TooltipSettings(tool => tool.Visible(true).Format("${xval} : ${yval39}")).XName("xval").YName("yval39").DataSource(ViewData["datasource"]).Render()
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href="https://www.indexmundi.com/g/g.aspx?v=21&v=21000&v=24&v=25&v=27&c=as&c=ch&c=fr&c=gm&c=in&c=rs&c=sn&c=sz&c=uk&c=us&l=en/" rel="nofollow"
               target="_blank" aria-label="indexmundi">www.indexmundi.com</a>
        </div>
    </div>
    <style>
        td {
            width: 20%;
        }
    </style>
    <script src="~/Scripts/Sparkline/theme-color.js"></script>
    <script>
        function sparkload(args) {
            loadSparkLineTheme(args);
        }
    </script>
}
@section ActionDescription{
    <p>
        This sample visualizes population, population density, population growth rate, and birth rate of various countries from 2005
        to 2014.
    </p>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Default in ASP.NET MVC Sparkline Charts control. Explore here for more details."/>
                }
@section Description{
    <p>
        In this example, you can see how to render a sparkline in a table. The color and type of the sparklines have been customized.
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over the data points or tap
        on a data point in touch enabled devices.
    </p>
}

@section Title{
                    <title>ASP.NET MVC Sparkline Charts Default Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Default in ASP.NET MVC Sparkline Charts Control</h1>
                }