@using Syncfusion.EJ2
@{
    ViewBag.Title = "Taskbar Template";
}

@section ControlsSection{
    <div class="control-section">
        @(Html.EJS().Gantt("TaskbarTemplate").DataSource((IEnumerable<object>)ViewBag.DataSource).DateFormat("MM/dd/yyyy hh:mm ss a")
    .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate").EndDate("EndDate")
    .Progress("Progress").Dependency("Predecessor"))
    .Columns(col =>
    {
        col.Field("TaskId").HeaderText("Event Id").Add();
        col.Field("TaskName").HeaderText("Event Name").Width(250).ClipMode(Syncfusion.EJ2.Grids.ClipMode.EllipsisWithTooltip).Add();
        col.Field("StartDate").HeaderText("Start Time").Format("hm").Add();
        col.Field("EndDate").HeaderText("End Time").Format("hm").Add();
        col.Field("Winner").HeaderText("Winner").Add();
        col.Field("Movie").HeaderText("Movie").Add();
        col.Field("Performance").HeaderText("Moments / Performance Details").Add();
    })
    .TreeColumnIndex(1)
    .RowHeight(70)
    .TaskbarHeight(65)
    .DayWorkingTime(dw =>
    {
        dw.From(0).To(24).Add();
    })
    .DurationUnit(Syncfusion.EJ2.Gantt.DurationUnit.Minute)
    .TimelineSettings(ts => ts.TimelineUnitSize(60).TopTier(tt => tt.Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.Hour).Format("MMM dd, yyyy"))
    .BottomTier(bt => bt.Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.Minutes).Count(2).Format("h:mm a")))
    .EventMarkers(em =>
    {
        em.Day("03/05/2024 07:09:00 PM").Label("Performance").Add();
        em.Day("03/05/2024 07:46:00 PM").Label("Moments").Add();
        em.Day("03/05/2024 07:59:00 PM").Label("Performance").Add();
        em.Day("03/05/2024 08:08:00 PM").Label("Moments").Add();
        em.Day("03/05/2024 08:24:00 PM").Label("Moments").Add();
        em.Day("03/05/2024 08:31:00 PM").Label("Performance").Add();
        em.Day("03/05/2024 08:47:00 PM").Label("Moments").Add();
    })   
    .SplitterSettings(sl => sl.ColumnIndex(1))
    .IncludeWeekend(true)
    .Height("450px")
    .TaskbarTemplate("#childtask")
    .MilestoneTemplate("#milestone")
    .LabelSettings(ls => ls.LeftLabel("TaskName"))
    .TooltipSettings(ts => ts.Taskbar("#tooltip"))
    .ProjectStartDate("03/05/2024 06:00 PM")
    .ProjectEndDate("03/05/2024 09:50 PM")
    .Render()
    )
        <div style="float: right; margin: 10px 10px 0px 0px;">
            Source:
            <a href="https://en.wikipedia.org/wiki/90th_Academy_Awards" target='_blank'>https://en.wikipedia.org/<span class="sr-only">opens in a new tab</span></a>
        </div>
    </div>

    <style>
        .e-custom-parent {
            background-color: #6d619b;
            border: 1px solid #3f51b5;
        }

        .e-custom-moments {
            background-color: #7ab748;
            border: 1px solid #3f51b5;
        }

        .e-custom-performance {
            background-color: #ad7a66;
            border: 1px solid #3f51b5;
        }



        .moments, .face-mask, .oscar {
            position: relative;
            top: 14px;
            left: 5px;
            padding-right: 4px;
        }

        .e-milestone-top {
            border-bottom-color: #7ab748 !important;
            border-bottom: 1px solid #3f51b5;
        }

        .e-milestone-bottom {
            border-top-color: #7ab748 !important;
            border-top: 1px solid #3f51b5;
        }
    </style>
    <script type="text/x-jsrender" id="milestone">
        <div style="margin-top=-7px;">
            <div class="e-gantt-milestone" style="position:absolute;">
                <img class="moments" height="24" width="48" src="@Url.Content("~/Content/gantt/images/moments.svg")" />
                <div class="e-milestone-top" style="border-right-width:26px; margin-top: -24px;border-left-width:26px;border-bottom-width:26px;"></div>
                <div class="e-milestone-bottom" style="top:26px;border-right-width:26px; border-left-width:26px; border-top-width:26px;"></div>
            </div>
        </div>
    </script>
    <script type="text/x-jsrender" id="childtask">
        ${if(TaskName == 'Oscar moments')}
        <div class="e-gantt-child-taskbar e-custom-moments" style="height:100%;border-radius:5px;">
            ${if(ganttProperties.duration < 4)}
            <img class="moments" height="32" width="32" src="@Url.Content("~/Content/gantt/images/moments.svg")" />
            ${else}
            <img class="moments" height="32" width="32" src="@Url.Content("~/Content/gantt/images/moments.svg")" />
            <span class="e-task-label" style="position:absolute;top:15px;font-size:12px;text-overflow:ellipsis;height:90%;overflow:hidden;">${Performance}</span>
        </div>
        ${/if}
        </div>
        ${else if(TaskName == 'Oscar performance')}
        <div class="e-gantt-child-taskbar e-custom-performance" style="height:100%;border-radius:5px;">
            ${if(ganttProperties.duration <= 5)}
            <img class="face-mask" height="32" width="32" src="@Url.Content("~/Content/gantt/images/face-mask.svg")" />
            ${else}
            <img class="face-mask" height="32" width="32" src="@Url.Content("~/Content/gantt/images/face-mask.svg")" />
            <span class="e-task-label" style="position:absolute;top:5px;font-size:12px;text-overflow:ellipsis;height:90%;overflow:hidden;">${Performance}</span>
            ${/if}
        </div>
        ${else}
        <div class="e-gantt-parent-taskbar e-custom-parent" style="height:100%;border-radius:5px;text-overflow:ellipsis;">
            ${if(ganttProperties.duration < 4)}
            <img class="oscar" height="32" width="32" src="@Url.Content("~/Content/gantt/images/oscar.svg")" />
            ${else}
            ${if(taskData.Winner && taskData.Movie)}
            <img class="oscar" height="32" width="32" src="@Url.Content("~/Content/gantt/images/oscar.svg")" />
            <span class="e-task-label" style="position:absolute; top:13px;font-size:14px;">${taskData.Winner}</span>
            <span class="e-task-label" style="position:absolute;top:33px;font-size:10px;text-overflow:ellipsis;">${taskData.Movie}</span>
            ${else if(taskData.Movie)}
            <img class="oscar" height="32" width="32" src="@Url.Content("~/Content/gantt/images/oscar.svg")" />
            <span class="e-task-label" style="position:absolute; top:0px;font-size:12px;text-overflow:ellipsis;"></br> ${taskData.Movie} </span>
            ${else}
            <span class="e-task-label"></span>
            ${/if}
            ${/if}
            ${/if}
    </script>
    <script type="text/x-jsrender" id="tooltip">
        <div>
            ${if (Winner && Movie)}
            ${Winner} wins oscar award for ${Movie}
            ${else if(Movie)}
            Oscar award for ${Movie}
            ${else}
            ${Performance}
            ${/if}
        </div>
    </script>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes how to customize the Gantt taskbar.
            Taskbars are customized using template support and timeline header is customized for a better view of the data.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Taskbar Template in ASP.NET MVC Gantt control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>
            The Gantt chart provides support for customizing taskbar UI using taskbar template feature. The
            <code>TaskbarTemplate</code>
            property accepts either string or HTML element`s ID value, which will be used as the template for the taskbars.
            The summary tasks and the milestone items can also customized using the <code>ParentTaskbarTemplate</code> and
            <code>MilestoneTemplate</code> properties.
            In this demo, we have customized the taskbar UI to display the data from custom columns and the taskbarTemplate
            is assigned with the ID of a SCRIPT element whose content is used as the template.
            The template expression should be provided inside <code>${...}</code> interpolation syntax
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET MVC Gantt Taskbar Template Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Taskbar Template in ASP.NET MVC Gantt Control</h1>
                }